*, *:after, *:before {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .blue {
    background: #343a40;
    color: #fff;
  }
  .navbar {
    padding: 10px 10%;
  }
  #logo {
    display: inline-block;
    margin-top: 7px;
    color: #fff;
  }
  #link {
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
  }
  i { margin: 0 7px; }
  #sidebarCollapse {
    color: #fff;
    background: transparent;
    outline: none;
    margin: 0 20px;
  }
  #sidebarCollapse:hover {
    color: #343a40;
    background: #fff;
    outline: none;
  }
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;
  }.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;
  }#sidebar {
      min-width: 250px;
      max-width: 250px;
      margin-top: 40px;
      background: #343a40;
      color: #fff;
      transition: all 0.3s;
  }
  #sidebar.active{
      margin-left: 0 px;
  }
  
  #sidebar .sidebar-header{
      padding: 20px;
      background: #343a40;
  }
  /* #sidebar ul.components{
      padding: 20px 0px;
  } */
  
  #sidebar ul p{
      padding: 10px;
      font-size: 1.1em;
      display: block;
  }
  
  #sidebar ul li a{
      padding: 10px 10px 10px 20px;
      font-size: 1.1em;
      display: block;
      color: #fff;
      font-weight: bold;
  }
  #sidebar ul li a:hover {
      color: #343a40;
      background: #fff;
      text-decoration: none;
  }
  
  #sidebar ul li.active>a,
  a[aria-expanded="true"] {
      color: #fff;
      background: #343a40;
  }
  a[data-toggle="collapse"] {
      position: relative;
  }
  .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
  }
  
  #content {
      width: 100%;
      padding: 40px;
      min-height: 100vh;
      transition: all 0.3s;
      margin-top: 70px;
  }
  @media (max-width:800px) {
    #sidebar {
      margin-left: -250px;}
    #sidebar.active{
      margin-left: 0px;
    }
    #sidebarCollapse span{
      display: none;
    }
    .card {
      width:100%;
    }
  }
  @media (max-width:400px) {
    #sidebar {
      margin-top: -20px;
    }
    #logo {
      display: none;
    }
  }
.pull-right-container {
    position: absolute;
   
}
/* otro */

.user-panel {
  position: relative;
}

[class*='sidebar-dark'] .user-panel {
  border-bottom: 1px solid #f7f8f8;
}

[class*='sidebar-light'] .user-panel {
  border-bottom: 1px solid #dee2e6;
}

.user-panel,
.user-panel .info {
  overflow: hidden;
  white-space: nowrap;
}

.user-panel .image {
  display: inline-block;
  padding-left: 0.8rem;
}

.user-panel img {
  height: auto;
  width: 2.1rem;
}

.user-panel .info {
  display: inline-block;
  padding: 5px 5px 5px 10px;
}

.user-panel .status,
.user-panel .dropdown-menu {
  font-size: 0.875rem;
}

.user-panel .image {
  float: left;
}
.info{
  display: inline-block;
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}